*{
  margin: 0;
  padding: 0;  
}

html{
  background-color: #F0679E;
  color: #2C296F;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;  
}
header{
    min-height:100vh;
    background-image:linear-gradient(rgba(128, 5, 77, 0.53), rgba(128, 5, 77, 0.53)) ,url(../img/ceu-manila-facade.jpg);
    background-size: cover;
    background-position: center;
}

.section1{
  min-height: 101vh;
  color: #2C296F;
}
.section2{
  min-height:100vh;
}

.section3{
  min-height:90vh;
}

footer{
  min-height: 10vh;
  background-color: #1c1c1c;
}

.navcon{
  height: 10vh;
  background-color:white;
  border-bottom: 5px solid #2C296F;
}

.logo{
  height: 50px;
  margin-top: 5px;

}
.navitem{
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 80%;
  letter-spacing: 1px;
  transition: 0.5s;
}

.navitem:hover{
  border-bottom: 2px solid #F0679E;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
  color: #F0679E;
  font-weight:bold;
}

.navbar-dark .navbar-nav .navitem{
  color:#2C296F;
}

.navbar-dark .navbar-nav .navitem:hover{
  color: #F0679E;
}

.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}

.fill {
  width: 100%;
  height: 101vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn-ghost:link,
.btn-ghost:visited{
 background-color:none;
 color:#F0679E;
 transition: 0.5s;
 height: auto;
}

.btn-ghost:hover,
.btn-ghost:active{
 background-color: #2C296F;
 color:white;
 transition: 0.5s;
}

.sec3{
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
}

form{
  color: #2C296F;
  border-radius: 10px;
  padding:10px;
  text-transform: uppercase ;
}

form  h2{
  text-transform: uppercase ;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 4px;
}

.ourteam{
  padding-top:70px;
  text-align: center;
  font-size: 200%;
  color:#2C296F;
  text-transform: uppercase ;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.OTC-p{
  font-size: 100%;
  letter-spacing: 3px;
  word-spacing: 4px;
}

.ft{
  color:white;
  font-size:100%;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ft2{
  font-size: 100%;
  color: white;
  padding:20px;
  margin-bottom: 0;
  text-align: center;

}

.ft2 i{
  color:#2C296F;
  font-size: 70%;
  margin-right: 5px;
}



.rtbutton{
  position: fixed;
  bottom: 20px;
  right:10px;
  z-index:99;
}

.rtbutton a:link,
.rtbutton a:visited{
  color:#2C296F;

}
@media(max-width:820px){
  .navcon{
  background-color:white;
  
  }
  .navbar-toggler {
    background-color:#2C296F; 
  }

  .btn{
    font-size: 0.8rem;
  }
  .navbar-dark .navbar-nav .navitem:hover{
    color:white;
  }

  .section1{
    background-color: #2C296F;
  }

  .carousel,
.item,
.active {
    height: 100%;
  }


.carousel-inner {
    height: 100%;
  }

.fill{
  width: 100%;
  height: 100%;
  margin-top: 50%;
  background-color: #2C296F;
  }

}